@font-face {
    font-family: 'GoogleCoda';
    src: url('fonts/Coda-Regular.woff') format('woff'), url('fonts/Coda-Regular.ttf') format('truetype');
}

body {
    font-family: 'GoogleCoda', Arial, Helvetica, sans-serif;
}
