body {
	font-family: Calibri, Arial, sans-serif;
}
textarea {
	box-sizing: border-box;
	width: 100%;
	height: 120px;
}

#output {
	display: inline-block;
	border: 1px rgba(0,0,0,0.19) solid;
	padding: 0.5em;
}

.r-header {
	font-weight: bold;
	text-decoration: underline;
	text-align: center;
}

.r-order {
	display: inline-block;
	padding: 0.5em;
	margin: 0.5em;
	box-shadow: 0 5px 10px rgba(0,0,0,0.19), 0 3px 3px rgba(0,0,0,0.23);
	border: 1px rgba(0,0,0,0.19) solid;
}

.ro-title {
	color: #7A7A7A;
	margin-top: 0.5em;
	font-size: 0.8em;
}

.ro-content {
	font-size: 1.1em;
	font-weight: bold;
}

.ro-item {
	display: block;
}

.roi-type {
	display: inline-block;
	width: 250px;
}

.roi-sum {
	font-weight: bold;
}

.roi-number {
	display: inline-block;
	text-align: right;
	width: 50px;
}

.r-total {
	display: block;
	font-size: 1.1em;
	font-weight: bold;
	border-bottom: #000000 1px solid;
}
.rt-label {
	display: inline-block;
	padding-left: 1em;
	width: 250px;
}
.rt-sum {
	display: inline-block;
	padding-right: 1em;
	text-align: right;
	width: 50px;
}